.html { width: 100%; }

.launcher_page {
    width: 95vw;
    height: 95%;
    min-height: 100vh;
    /*background-color: white;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2.5%;
    vertical-align: middle;
    background: #4c4c4c; 
}

.wibble_launcher_controls {
    width: 100%;
    height: 100%;
    margin: auto;
    background: white;
    border-radius: 20px;
}

.wibble_launcher_text {
    text-align: center;
}

.launcher_buttons {
    position: relative;
    width: 95%;
    height: 80%;
    background-color: #b2d4aa;
    border: solid 4px #000;
    margin: auto;
    display: flex;
    flex-columns: 3;
    justify-content: space-between;
    vertical-align: middle;
    text-align: center;
    border-radius: 20px;
}

.wibble_launcher_button {
    position: relative;
    width: 20%;
    margin: 5%;
    padding: 20px;
}

.wibble_launcher_button:hover {
    background-color: #d3523e;
}
    
.wibble_button_text {
    width: 100%;
    margin-top: 60px;
}

.big_button {
    display: block;
    width: 100%;
    height: 100%;
}

.wibble_button_block {
    display: block;
    width: 100%;
    height: 100%;
}

.search_button {
  background-color: #d3523e;
  border: none;
  border-radius: 12px;
  width: 380px;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: calc((100% - 380px)/2);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  box-shadow: 0px 0px 2px 2px black;
}

.search_button:disabled {
    opacity: 0.7;
    background-color: darkgrey;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
    background: #4c4c4c; 
    width: 100%;
    height: 100%;
    padding: 20px;
}

.wrapper h1 {
    text-align: center;
}

.wrapper h3 {
    text-align: center;
}
/*
#main_search_button {
    margin: auto;
}
*/
.note-form {
    position: relative;
    min-width: 300px;
    background-color: #b2d4aa;
    border: solid 4px #000;
    border-radius: 20px;
    width: 95%;
    height: 95%;
    margin: auto;
    display: block;
    justify-content: space-between;
    padding: 10px;
}

.input-labels {
    width: 35%;
    float: left;
    height: 600px;
    min-height: 60%;
    font-size: 32px;
}

label {
    margin-left: 5px;
    text-align: left;
    width: 95%;
    vertical-align: middle;
}

input {
    border-radius: 4px;
    width: 95%;
    height: 40px;
    min-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.wibble-search-input-boxes {
    margin-right: 5%;
    width: 60%;
    height: 600px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
}

.wibble-search-input-boxes input {
    background: #f2f1e8;
}
.clear {
     clear: both;   
}

.wibble-search-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    clear: left;
    text-align: left;
    margin-left: 10%;
    height: 100%;
    width: 100%;
    font-size: 32px;
    vertical-align: middle;
}


/* note rendering */
.nav_section {
    position: relative;
    border: 3px solid;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    background: #b2d4aa;
    /*background: lightgrey;*/
    text-align: center;
    font-weight: bold;
    height: 60px;
    border-radius: 10px;
}

.wibble_navigation {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-right: 5px;
}

.wibble_navigation img {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.wibble_navigation img:hover {
    background-color: #d3523e;
}

.nav_section a:link {
    text-decoration: none;
    color: darkblue;
}

.nav_section a:visited {
    text-decoration: none;
    color: black;
}

.nav_section a:hover {
    text-decoration: none;
    color: blue;
}

.nav_section a:active {
    text-decoration: none;
    color: blue;
}

.note {

    opacity: 0.95;
    border: 3px solid;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    background: white;
    max-width: 95vw;
    border-radius: 10px;
}


.note:hover {
    opacity: 1.0;
}

.note:active {
    opacity: 1.0;
}

.note:focus-within {
    opacity: 1.0;
}

.note_results {
    width: 95vw;
    margin: auto;
    margin-left: 2.5%;
    padding-top: 50px;
}

.note_header {
    color: #323232;
    background: #fcf7d3;
    margin: 10px;
    margin-bottom: -7px;
    text-align: left;
}

.empty_results {
    background: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 3px solid black;
}

.empty_results a {
  text-decoration: none !important;
    color: darkred;
}

.empty_results a:visited {
    text-decoration: none;
    color: darkred;
}

.empty_results a:hover {
    text-decoration: none;
    color: green;
}

.empty_results a:active {
    text-decoration: none;
    color: green;
}

.toolbar_container {
  background: #fcf7d3;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
}

.note_toolbar {
  background: #fcf7d3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}
.note_toolbar button { background: lightgrey; border-radius: 8px; vertical-align: middle; }
.note_toolbar button img { vertical-align: bottom; }
.button_click_status { margin-top: 0px; height: 25px; line-height: 25px; vertical-align: middle; font-height: 25px; }
.button_click_status p { margin-top: 0px; color: red; font-weight: bold; vertical-align: middle; }
.note_toolbar button:hover { background: lightyellow; border-radius: 8px; }
.note_toolbar button p { margin-top: -3px; margin-bottom: 1px;   }
.note_header th { padding-left: 15px; }

.related_notes {
    background: #fcf7d3;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -20px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
}

.related_notes ul li {

  font-size: calc(3px + 0.5vw);
  text-align: left;
  position: relative;
}

.related_notes ul li a {
  text-decoration: none !important;
}

.related_notes h4 { text-align: center; }

.note_content {
    margin: 10px;
}

.note_content span {
    padding-left: 0px;
    padding-right: 25px;
}

.data_dir_listing {
    margin-top: 20px;
    margin-bottom: 20px;
    /*margin-left: 10px;
    margin-right: 10px;*/
}

.note_file_listing {
    padding: 5px;
}
.note_file_listing p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
    font-family: 'Courier', 'Monospaced';
}

.file_listing_content {
    background: #fcf7d3;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    overflow-x: auto;
    padding: 10px;
}


/* org-mode rendering */
h1 { padding-left: 0px; }
h2 { padding-left: 3px; }
h3 { padding-left: 6px; }
h4 { padding-left: 8px; }
h5 { padding-left: 10px; }

pre {
    overflow-x: auto;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: 'Courier', 'Monospaced';
    width: 90%;
    margin: auto;
}

.org-id {
    font-size: 12px;
    font-family: 'Courier', 'Monospaced';
    margin: auto;
    width: 100%;
    text-align: center;
    color: grey;
    margin-bottom: 15px;
}
    

.note_content table {
    background-color: #e3efe2;
    margin-top: -7px;
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
    border-collapse: collapse;
    border: none;
    font-size: 18px;
    font-family: 'Courier', 'Monospaced';
}
.note_content table tr { border-bottom: 1px solid #ccc; padding-top: 15px !important; padding-right: 30px; }
.note_content table td { padding-right: 10px; padding-left: 10px; }
.note_content table th { text-align: left; padding-right: 10px; padding-left: 10px; }


th { text-align: centre; }
td { padding-left: 50px; }
hr { border: 2px dotted; }

.language-block {

    width: 95%;
    margin: auto;
}

body { background: #4c4c4c; }

section-number {
}

li { vertical-align: middle; padding-top: 5px; padding-bottom: 5px; margin-bottom: -5px;  }

li input { width: 30px; vertical-align: middle; }
li input checkbox { vertical-align: middle; }




/* asciidoc renderer */
/* literal blocks */
#toctitle {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
}

.content {

    background-color: #f0f0f0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    overflow-x: auto;
    width: 95%;
    margin: auto;
    padding: 10px;
}

.admonitionblock {
/*.admonitionblock note {*/
    background-color: #ffbbbb;
    border-style: dotted;
    margin: 10px;
    margin-bottom: 25px;
}

.admonitionblock table {
    background-color: #ffbbbb;
}

.admonitionblock tr {
    background-color: #ffbbbb;
    border: none;
    border-bottom: none !important;
}

.admonitionblock td {
    background-color: #ffbbbb;
    border: none;
}

.ulist ul li { margin-bottom: -15px; }
.ulist ul p { margin-bottom: 0px; }

.arabic li { margin-bottom: -15px; }
.arabic p { margin-bottom: 0px; }

img.displayed { display: block; max-width: 95%; margin: auto; }

.title { margin: auto; width: 95%; text-align: center; }

/* md rendering */
.code { overflow-x: scroll; }

/* Sigma CSS */

:root {
    background: #4c4c4c; 
    overflow-x: hidden;
    display: flex;
}

.graph_enclosing_parent {
    padding: 10px;
    background: #4c4c4c;
    width: 100vw;
    height: 100%;
    display: flex;
    flex: 1;
    flex-flow: column;
    overflow: hidden;
}

.graph_content_area {
    position: absolute;
    top: 20px;
    width: 95%;
    left: 2.5%;
    background: #b2d4aa;
    vertical-align: middle;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}

.graph_bottom_spacer_white {
    height: 50px;
    width: 100%;
    background: white;
}

.graph_bottom_spacer_bg {
    height: 20px;
    width: 100%;
    background: #4c4c4c;
}

.graph_header_pane h1 {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.react-sigma {
    margin: auto;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 10px;
}

.graph_header_pane {
    width: 90%;
    margin: auto;
    background: #b2d4aa;
}

.info_container {
    background: white;
    width: 90%;
    margin: auto;
    display: flex;
    flex-columns: 2;
    align-items: stretch;
    margin-bottom: 50px;
    border-radius: 10px;
}

.info_panel {
    width: 75%;
    min-height: 100%;
}

.node_info_pane {
    background: white;
    width: 100%;
    margin: auto;
    height: 630px;
    padding: 10px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
    border-radius: 10px;
}

.node_info_details_pane {
    position: block;
    background: #fcf7d3;
    padding: 10px;
    overflow-y: auto;
    height: 88%;
    max-height: 88%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
}

.node_info_pane h2 {
    text-align: center;
    height: 44px;
    margin-top: -0px;
    max-height: 44px;
    text-height: 30px;
    overflow-y: auto;
}

.node_projects_pane {
    background: white;
    display: block;
    width: 20%;
    margin: auto;
    margin-left: 20px;
    min-height: 550px;
    max-height: 550px;
    text-align: center;
    overflow-y: scroll auto;
    overflow-x: hidden !important;
 }

.node_projects_pane div div p {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: left;
    font-size: 16px;
}
.node_projects_pane div div p span {

    font-size: 16px;
    float: right;
    border: 1px solid black;
}
.field {
    margin-left: 0%;
}

.field_value {
    position: relative;
    float: right;
    margin-right: 10px;
    text-align: right;
}

.stats_header {
    position: relative;
}

.stats_display_container {
    background: white;
    width: 95%;
    margin: auto;
    border-radius: 10px;
}

.stats_display_container h1 {
    text-align: center;
    margin-top: 30px;
}

.stats_display_container h3 {
    text-align: center;
}

.stats_display_pane {
    background: white;
    width: 100%;
    margin: auto;
    padding: 10px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
    border-radius: 10px;
}

.stats_display_container h2 {
    text-align: center;
}

.stats_graph_panel {
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
